
* {
  margin: 0 auto;
  text-align: center;
  color: rgb(20, 26, 26);
  font-family: 'Arial', sans-serif;
}

header {
  color: white;
  margin: 0px;
  padding: 20px 0 0px 0;
  background-color: rgb(0, 58, 90);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.headerlogo img {
  height: 90px;
  float: left;
}
.headerlogo {
  height: 90px;
}
h1 {
  padding: 0 0 24px 0;
}

nav {
  background-color: rgb(6, 75, 113);
  width: auto;
  height: 38px;
  padding: 0px 20px 0 0;
  
}

nav a {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}

nav a:hover {
  background-color: #6daef0;
}


h2 {
  text-transform: uppercase;
}

section {
  margin: 36px auto;
  width: 80%;
}

footer {
  background-color: rgb(0, 58, 90);
  padding: 24px 0;
  margin: 124px 0 0 0;
}

footer p {
  color: #ffffff;
}

.card-container {
  margin: 36px 0;
  display: flex;
}

.card-container a {
  text-decoration: none;
}

.card {
  width: 240px;
  height: 300px;
  background-color: #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.card img {
  width: 240px;
  height: 150px;
  display: block;
}

.card p {
  font-size: 1.1rem;
}

.article-text {
  background-color: #fff;
  position: absolute;
  height: 40%;
  bottom: 42px;
  width: 90%;
  left: 4.5%;
}

form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.form-selector  {
  padding: 30px;
}
.form-selector label {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px;
}

.form-item {
    margin-bottom: 20px;
    padding: 20px;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-field {
    position: relative;
    margin: 0;
}

.form-field-textual, 
.input-text, 
textarea, 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s;
}

.form-field-textual:focus, 
.input-text:focus, 
textarea:focus, 
select:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    resize: vertical;
}


input[type="file"] {
    padding: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #dc3545;
    margin-right: 10px;
}

button[type="reset"]:hover {
    background-color: #c82333;
}

.bojaPoruke {
    display: block;
    margin-bottom: 5px;
    color: #dc3545;
    font-size: 12px;
}

.form-field input[type="radio"] {
  margin: 5px 0px 5px 0;
  padding: 20px;
}


.form-field {
  padding: 20px;
  display:flex;
  
  flex-wrap: wrap;
  justify-content: center;
}

.form-field label {
  margin: 3px 20px 0px 0px;
}
.form-item:last-child {
  text-align: right;
}

.login {
  padding: 30px;
  padding-bottom: 490px;
}

.login input{
  margin-bottom: 10px;
}

.login img {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(126, 121, 212, 0.318);
}

